.form-container {
    margin: 2rem 6rem;
    color: #2a2a2a;
}

.form-container form {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form-container form h1 {
    padding-bottom: 1rem;
    font-weight: 500;
}

.form-container input {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #ada9a9;
}

.form-container textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.form-container button {
    display: inline;
    background: #a7ecec;
    border-radius: 0.3rem;
    cursor: pointer;
}

.form-container button:hover {
    background: #6fb9b9;
}

@media screen and (max-width: 960px) {
    .form-container {
        margin: 4rem 2rem;
    }

    .form-container form {
        padding-top: 2rem;
        width: 90%;
    }
}
